<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ysd.videosite.dao.VideoMapper">
	<resultMap type="Video" id="videoMap">
        <id column="v_id" property="v_id" />
        <result column="v_name" property="v_name"/>
        <result column="v_introduce" property="v_introduce"/>
        <result column="v_videoUrl" property="v_videoUrl"/>
        <result column="v_imgUrl" property="v_imgUrl"/>
        <result column="v_uploadTime" property="v_uploadTime"/>
        <result column="v_totalTime" property="v_totalTime"/>
        <result column="v_playNum" property="v_playNum"/>
        <result column="v_barrageNum" property="v_barrageNum"/>
        <result column="v_commentNum" property="v_commentNum"/>
        <result column="v_collectNum" property="v_collectNum"/>
        <result column="v_likeNum" property="v_likeNum"/>
        <result column="v_unlikeNum" property="v_unlikeNum"/>
        <result column="u_id" property="u_id"/>
        <result column="v_lockStatus" property="v_lockStatus"/>
        <result column="v_lockTime" property="v_lockTime"/>
        <result column="e_id" property="e_id"/>
        <result column="v_examineStatus" property="v_examineStatus"/>
        <result column="z_id" property="z_id"/>
        <result column="ex_id" property="ex_id"/>
        <result column="v_ext1" property="v_ext1"/>
        <result column="v_ext2" property="v_ext2"/>
        
        <result column="e_id" property="employee.e_id"/>
		<result column="e_name" property="employee.e_name"/>
		
		<result column="z_id" property="zone.z_id"/>
		<result column="z_name" property="zone.z_name"/>
		
		  
		<result column="ex_id" property="examine.ex_id"/>
		<result column="ex_examineStatus" property="examine.ex_examineStatus"/>  
		<result column="ex_examineTime" property="examine.ex_examineTime"/>
		<result column="ex_examinePassTime" property="examine.ex_examinePassTime"/>  
		<result column="ex_examineSuggestion" property="examine.ex_examineSuggestion"/> 
		
		<result column="u_name" property="user.u_name"/>
    </resultMap>
    <!-- 查询属于自己的未审核的视频 -->
    <select id="SelectVideoByEmployeeId" parameterType="pagination" resultMap="videoMap">
    	select z.*,v.*,ex.*,e.*,u.* from zone z 
    	join video v on z.z_id=v.z_id 
    	join user u on v.u_id=u.u_id
    	join examine ex on v.ex_id=ex.ex_id 
    	join employee e on ex.e_id=e.e_id 
    	<where>
    		e.e_id=#{e_id} and ex.ex_examineStatus=0
    		<if test="in_v_uploadTime !=null and in_v_uploadTime !=''">
    		  		and v_uploadTime &gt; #{in_v_uploadTime}
    		</if>
    		<if test="en_v_uploadTime !=null and en_v_uploadTime !=''">
    				and v_uploadTime &lt; #{en_v_uploadTime}
    		</if>
    	</where>
    	limit #{page},#{pageSize}
    </select>
    <!-- 查询属于自己的未审核的视频的总条数-->
    <select id="SelectVideoCountByEmployeeId" parameterType="pagination" resultType="int">
    	select count(z.z_id) from zone z 
    	join video v on z.z_id=v.z_id 
    	join user u on v.u_id=u.u_id
    	join examine ex on v.ex_id=ex.ex_id 
    	join employee e on ex.e_id=e.e_id 
    	<where>
    		e.e_id=#{e_id} and ex.ex_examineStatus=0
    		<if test="in_v_uploadTime !=null and in_v_uploadTime !=''">
    		  		and v_uploadTime &gt; #{in_v_uploadTime}
    		</if>
    		<if test="en_v_uploadTime !=null and en_v_uploadTime !=''">
    				and v_uploadTime &lt; #{en_v_uploadTime}
    		</if>
    	</where>
    	
    	limit #{page},#{pageSize}
    </select>
    <!-- 审核通过 -->
   	<update id="examineTongGuo" parameterType="examine">
   			update examine set ex_examineStatus=1, ex_examinePassTime = now() where ex_ext1 = #{ex_ext1}
   	</update>
   	<!-- 审核未通过 -->
   	<update id="examineWeiTongGuo" parameterType="examine">
   			update examine set ex_examineStatus=2,ex_examinePassTime = now(),ex_examineSuggestion=#{ex_examineSuggestion} where ex_ext1 = #{ex_ext1}
   	</update>
   	<!-- 查询属于自己的已审核的视频 -->
   	<select id="selectYiExamineVideo" parameterType="pagination" resultMap="videoMap">
   		select z.*,v.*,ex.*,e.*,u.* from zone z 
    	join video v on z.z_id=v.z_id 
    	join user u on v.u_id=u.u_id
    	join examine ex on v.ex_id=ex.ex_id 
    	join employee e on ex.e_id=e.e_id 
    	<where>
    		e.e_id=#{e_id} and ex.ex_examineStatus !=0
    		<if test="in_v_uploadTime !=null and in_v_uploadTime !=''">
    		  		and v_uploadTime &gt; #{in_v_uploadTime}
    		</if>
    		<if test="en_v_uploadTime !=null and en_v_uploadTime !=''">
    				and v_uploadTime &lt; #{en_v_uploadTime}
    		</if>
    	</where>
    	limit #{page},#{pageSize}
   	</select>
   	<select id="selectYiExamineVideoCount" parameterType="pagination" resultType="int">
   		select count(z.z_id) from zone z 
    	join video v on z.z_id=v.z_id 
    	join user u on v.u_id=u.u_id
    	join examine ex on v.ex_id=ex.ex_id 
    	join employee e on ex.e_id=e.e_id 
    	<where>
    		e.e_id=#{e_id} and ex.ex_examineStatus !=0
    		<if test="in_v_uploadTime !=null and in_v_uploadTime !=''">
    		  		and v_uploadTime &gt; #{in_v_uploadTime}
    		</if>
    		<if test="en_v_uploadTime !=null and en_v_uploadTime !=''">
    				and v_uploadTime &lt; #{en_v_uploadTime}
    		</if>
    	</where>
    	limit #{page},#{pageSize}
   	</select>
</mapper>